/** start old stylesheet
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
.h5p-content {
    resize: horizontal;
}

p {
    margin-left: 2%;
}


/** Stylesheet for the puzzles */

.h5p-parsons {
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    height: 670px;
    margin: 0 auto;
    border: 1px solid #fff;
    box-shadow: 2px 2px 4px #fff;
    padding: 10px;
    background-color: #fff!important;
}

.h5p-parsons .h5p-inner {
    position: absolute;
    width: 100%;
}

.h5p-parsonswidget {
    height: auto;
    display: flex;
    flex-wrap: wrap;
}


/*stylesheet for title */

#taskDescription {
    color: #000;
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
    margin-left: 2%;
}


/*stylesheet for the problem*/

.task {
    margin-left: 2%;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 700;
    margin-top: 10px;
}

.problemTitle {
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

p.problemDescription {
    color: #333333;
    /*font-family: "Helvetica Neue", Arial, sans-serif;*/
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5625;
    margin-bottom: 15px;
}

p.language {
    border: 1px solid #777;
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: #333;
    border-bottom-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.4), inset 0 0 0.1em rgba(255, 255, 255, 0.9);
    display: inline-block;
    padding: 0 .95em 0 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    user-select: none;
    position: relative;
    border-radius: .3em;
    background-color: #000;
}

/** Stylesheet for the puzzles */

.h5p-parsonswidget #sortableTrash,
.h5p-parsonswidget #sortable {
    position: static;
    padding-left: 0px;
    margin-left: 2%;
    float: left;
}

.h5p-parsonswidget #sortableTrash {
    width: 38%;
}

.h5p-parsonswidget #sortable {
    width: 56%;
}

ul.incorrect {
    border: 1px solid red;
    background-color: #ffefef;
}

ul.correct {
    background-color: #efffef;
    background-color: #DFF2BF;
}

li.incorrectIndent {
    border: 1px solid red;
    border-left: 10px solid red;
}

li.correctIndent {
    border: 1px solid green;
    border-left: 10px solid green;
}

li.incorrectPosition,
.testcase.fail,
.testcase.error {
    background-color: #FFBABA;
    border: 1px solid red;
}

li.correctPosition,
.testcase.pass {
    background-color: #DFF2BF;
    border: 1px solid green;
}

.testcase {
    padding: 10px;
    margin-bottom: 10px;
}

.testcase .msg {
    font-weight: bold;
}

.testcase .error {
    color: red;
}

.testcase .feedback {
    font-weight: bolder;
}

.testcase .fail .expected,
.testcase .fail .actual {
    color: red;
    font-weight: bolder;
}

.testcase .output {
    display: block;
    white-space: pre;
    background-color: #555555;
    color: white;
    font-size: 12px;
    line-height: 15px;
    margin: 5px;
    padding: 5px;
}


/** For styling the toggleable elements */

.jsparson-toggle {
    padding: 0 15px;
    display: inline-block;
    border: 1px dashed black;
    z-index: 500;
    cursor: pointer;
    min-width: 10px;
    min-height: 15px;
}

.jsparson-toggle:empty {
    border-color: red;
}

.jsparson-toggle:empty:before {
    content: "??";
    display: block;
    color: red;
}

#buttons a {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #ff6600;
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 5px;
    text-decoration: none;
    color: #ffffff;
    /* margin-top: 5%; */
    cursor: pointer;
    margin-left: 2%;
}

/** Stylesheet for the puzzles */

.sortable-code {
    position: static;
    padding-left: 0px;
    margin-left: 2%;
    float: left;
}

#sortableTrash {
    width: 38%;
}

#sortable {
    width: 56%;
}

.sortable-code ul {
    font-size: 120%;
    font-family: monospace;
    list-style: none;
    background-color: #efefff;
    padding-bottom: 10px;
    padding-left: 0;
    margin-left: 0;
    border: 1px solid #efefff;
    padding: 0 !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.sortable-code ul:empty {
    padding-bottom: 30px;
}

.sortable-code li,
.sortable-code li:before,
.sortable-code li:after {
    box-sizing: content-box;
}



.sortable-code li {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #EFEFEF;
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: move;
}

.sortable-code li:hover {
    overflow: visible;
}

ul.output {
    background-color: #efefff;
}

ul.incorrect {
    border: 1px solid red;
    background-color: #ffefef;
}

ul.correct {
    background-color: #efffef;
    background-color: #DFF2BF;
}

li.incorrectIndent {
    border: 1px solid red;
    border-left: 10px solid red;
}

li.correctIndent {
    border: 1px solid green;
    border-left: 10px solid green;
}

li.incorrectPosition,
.testcase.fail,
.testcase.error {
    background-color: #FFBABA;
    border: 1px solid red;
}

li.correctPosition,
.testcase.pass {
    background-color: #DFF2BF;
    border: 1px solid green;
}

.testcase {
    padding: 10px;
    margin-bottom: 10px;
}

.testcase .msg {
    font-weight: bold;
}

.testcase .error {
    color: red;
}

.testcase .feedback {
    font-weight: bolder;
}

.testcase .fail .expected,
.testcase .fail .actual {
    color: red;
    font-weight: bolder;
}

.testcase .output {
    display: block;
    white-space: pre;
    background-color: #555555;
    color: white;
    font-size: 12px;
    line-height: 15px;
    margin: 5px;
    padding: 5px;
}


/** For styling the toggleable elements */

.jsparson-toggle {
    padding: 0 15px;
    display: inline-block;
    border: 1px dashed black;
    z-index: 500;
    cursor: pointer;
    min-width: 10px;
    min-height: 15px;
}

.jsparson-toggle:empty {
    border-color: red;
}

.jsparson-toggle:empty:before {
    content: "??";
    display: block;
    color: red;
}

#buttons a {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #ff6600;
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 5px;
    text-decoration: none;
    color: #ffffff;
}

.h5p-parsons .actions{
    margin: 7px;
    padding-left: 17px;
}
/*///////////////////////////////////*/
#title {
    font-size: 45px;
    font-weight: 500;
    margin: 0 0 24px;
    text-align: center;
}

.sortable-code ul {
    font-size: 120%;
    font-family: monospace;
    list-style: none;
    padding-bottom: 10px;
    padding-left: 0;
    margin-left: 0;
    padding: 0 !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

ul .output {
    background-color: #efefff;
    width: 100%;
    background-color: #cee0f4;
    border-radius: .25em;

}

.output li {
    color: #1a4473;
    border: .1em solid #a9c3d0;
    background: #cee0f4;
}

.sortable-code li {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: move;
    cursor: pointer;
    border-radius: .25em;
    border: .1em solid #c6c6c6;
    overflow: hidden;
    background: #ddd;
    box-shadow: 0 0 0.3em rgba(0,0,0,.2);
}

.sortable-code li:hover {
    border: .1em solid #d4bed8;
    color: #636;
    background: #edd6e9;
}

li.incorrectIndent {
    border: 1px solid #b71c1c !important;
    background: #f8cfd0 !important;
    color: #b71c1c !important;
    border-left: 10px solid #b71c1c !important;
}

li.incorrectPosition {
        border: 1px solid #b71c1c !important;
        background: #f8cfd0 !important;
        color: #b71c1c !important;
}

li.incorrectPosition:Before {
    position: absolute;
    right: 2.5em;
    font-family: h5pfontawesome4;
    content: "\f00d";
    color: #b71c1c;
}

li.incorrectIndent:Before {
    position: absolute;
    right: 2.5em;
    font-family: h5pfontawesome4;
    content: "\f00d";
    color: #b71c1c;
}

li.correctPosition {
    background-color: #9cd8bb;
    border: 1px solid #255c41;
    color: #255c41;
}

li.correctPosition:Before {
    position: absolute;
    right: 2.5em;
    font-family: h5pfontawesome4;
    content: "\f00c";
    color: #255c41;
}

ul.correct {
    background-color: #9cd8bb;
}

.codeLanguage {
    background: #ececec;
    width: fit-content;
    padding: .7em;
    border-radius: 2em;
    font-size: 0.8em;
}

